﻿@model MvcMovie.Models.Lend

@{
    ViewData["Title"] = "Lend";
}

<script>
    var TeamDetailPostBackURL = '/Lends/LendPost';
    $(function () {
        $(".test").click(function (e) {
            e.preventDefault();

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');

            var dateTo = $("#datetimepicker2").val();
            var dateFrom = $("#datetimepicker1").val();

            var dataToSend = new Object();

            dataToSend.id = parseInt(id);
            dataToSend.dateTo = dateTo;
            dataToSend.dateFrom = dateFrom;

            console.log(dateTo);
            console.log(dateFrom);
            console.log(dataToSend);

            $.ajax({
                type: "Post",
                url: TeamDetailPostBackURL,
                contentType: "application/json",
                data: JSON.stringify(dataToSend),
                datatype: "json"
            });
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>


<div class="modal-dialog" role="document">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Lend</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 ml-auto">
                    <form asp-action="LendPost">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DateFrom" class="control-label"></label>
                            <input type="text" class="form-control datetimepicker-input" id="datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" />
                            <span asp-validation-for="DateFrom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateTo" class="control-label"></label>
                            <input type="text" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" />
                            <span asp-validation-for="DateTo" class="text-danger"></span>
                        </div>

                        <div id="myModal" role="dialog" class="modal fade" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div id="myModalContent"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" data-id="@Model.MovieID" value=" Lend " class="btn btn-primary test" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>




