﻿@model MvcMovie.Models.Lend

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
    </dl>

    @if (User.IsInRole("Admin"))
    {
    <form  asp-action="Returned" asp-route-id="@Model.LID" style="display:inline;" method="post">
        <button type="submit" class="btn btn-success">Returned</button>
    </form>

    <form asp-action="Damaged" asp-route-id="@Model.LID" style="display:inline;" method="post">
        <button type="submit" class="btn btn-warning">Damaged</button>
    </form>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
