﻿@model IEnumerable<MvcMovie.Models.Lend>

@{
    ViewData["Title"] = "My Lends";
}
@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $('#table_lend').DataTable({
                "order": [[1, "asc"]],
                columns: [
                    { orderable: false },
                    null,
                    null,
                    null,
                    null,
                    null,
                    { orderable: false }
                ]
            });
        });
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(document).tooltip({
                content: function () {
                    return $(this).prop('title');
                }
            });
        });
    </script>
}

<h2>My Lends</h2>

<table class="table table-hover table-striped" id="table_lend">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:1%">
                    <i class="material-icons" title=" <h4>Details</h4>
                                                            <div>
                                                                <dl>
                                                                    <dd>
                                                                        <b>Title:</b> @item.Movie.Title
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Owner:</b> @item.OwnerID
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Date From:</b> @item.DateFrom
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Date To:</b> @item.DateTo
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Status:</b>  @item.Status
                                                                    </dd>
                                                                </dl>
                                                            </div>">
                        info</i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="width:14%">
                    @if (User.IsInRole("Admin"))
                    {
                        <form>
                            <button class="btn btn-info" asp-action="Details" asp-route-id="@item.LID">Status</button>
                            <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LID">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
