﻿<!--model PaginatedList<MvcMovie.Models.Movie>-->
@model IEnumerable<MvcMovie.Models.Movie>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@section scripts
    {
    <script>
        var TeamDetailPostBackURL = '/Lends/Lend';
        $(function () {
            $(".anchorLend").click(function () {
                var $buttonClicked = $(this);
                var Id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };

                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": Id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                });

            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#table_id').DataTable({
                "order": [[1, "asc"]],
                columns: [
                    { orderable: false },
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { orderable: false },
                    { orderable: false }
                ]
            });
        });
    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(document).tooltip({
                content: function () {
                    return $(this).prop('title');
                }
            });
        });
    </script>
}

@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create">Create New</a>
}

<!--
    <form asp-controller="Movies" asp-action="Index" method="get">
        <p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </form>-->

<table class="table table-hover table-striped" id="table_id">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Title
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Genre
            </th>
            <th>
                Price
            </th>
            <th>
                Rating
            </th>
            <th>
                Amount
            </th>
              <th>
                </th>
           
                <th>
                </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:1%">
                    <i class="material-icons" title=" <h4>Details</h4>
                                                            <div>
                                                                <dl>
                                                                    <dd>
                                                                        <b>Title:</b> @item.Title
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Release Date:</b> @item.ReleaseDate
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Genre:</b> @item.Genre
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Price:</b> @item.Price
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Rating:</b>  @item.Rating
                                                                    </dd>
                                                                    <dd>
                                                                        <b>Amount:</b> @item.Amount
                                                                    </dd>
                                                                </dl>
                                                            </div>">
                        info</i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                @if (item.Amount != 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableDate)
                    </td>
                }
                <td style="width:14%">
                   @if (User.IsInRole("Admin"))
                    {
                        <form>
                            <button class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                            <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                        </form>
                    }
                </td>
                <td style="width:1%">
                   @if (!User.IsInRole("Admin") && User.Identity.IsAuthenticated)
                    {
                        <button href="javascript:void(0);" class="anchorLend btn btn-primary" data-id="@item.Id" data-toggle="modal" data-target="#myModal">Lend</button>
                    }
                </td> 
            </tr>
        }
    </tbody>
</table>

<!--
    //var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    //var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    -->
<!--
<a asp-action="Index"
   asp-route-pageNumber="(Model.PageIndex - 1)"
   asp-route-currentFilter="ViewData["CurrentFilter"]"
   class="btn btn-default prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="(Model.PageIndex + 1)"
   asp-route-currentFilter="ViewData["CurrentFilter"]"
   class="btn btn-default nextDisabled">
    Next
</a>-->

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
